<app-divider>
    Placeholder Component
</app-divider>
<app-placeholder [header]="false" [lines]=5></app-placeholder>

<app-divider>
    Segment component
</app-divider>
<app-segment>
  <div class="iconHeader">
    <i class="pdf file outline icon">
      No douments are listed for this customer
    </i>
  </div>
    
  <button class="ui primary button">add document</button>
</app-segment>

<app-segment>
    <div class="iconHeader">
      <i class="add icon">
        Add a resource here
      </i>
    </div>
      
    <button class="ui primary button">add resource</button>
</app-segment>